html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header{
width: 100%;
position: fixed;
top:0 ;
right: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
}

.logo img{
  max-width: 100%;
  width: 125px;
  height: auto;
}

.navlist{
  display: flex;
}

.navlist li a{
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all .42s;
}

.navlist li a:hover{
  color:#F9531D ;
}

.navlist li .active{
  color: #F9531D;
}

#menu-icon{
font-size: 35px;
cursor: pointer;
color: #000;
z-index: 1001;
display: none;
}

.sticky{
  background-color: #fff;
  padding: 15px 10%;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
  transition: all .40s;
}
section{
  padding: 4% 10%;
}

.home{
  width: 100%;
  height: 100vh;
background-image: url(img/background.png);
background-size: cover;
background-position: center;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
gap: 4rem;
}

.home-text h1{
  color: #191919;
  font-size: 55px;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 86px;
}

.home-text h1 span{
  color: #F9531D;
  text-transform: capitalize;
}

.home-text p{
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #362d2d;
  margin: 20px 0;
  line-height: 26px;
}

.button{
  display: flex;
  align-items: center;
}

.btn{
  display: inline-block;
  background-color: #F9531D;
  color: #fff;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px #F9531D;
  transition: all .40s;
}
.btn:hover{
  box-shadow: 0 0 20px #F9531D;
}
.btn1 img{
  width: 140px;
  height: 40px;
}

.home-img img{
max-width: 100%;
width: 600px;
height: auto;
}

.place-img{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  align-items: center;
  gap: 2rem;
  
}

.row img{
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all .40s;
}

.row{
  position: relative;
  overflow: hidden;
}
.price{
  position: absolute;
  right: 0;
  top: 20px;
}
.row h5{
  background-color: #fff;
  color: #000;
  font-size: 11px;
  font-weight: 500;
    padding: 4px 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.location{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 7px;
  color: #fff;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.location i{
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.location h6{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

.row img:hover{
  transform: scale(1.1);
}

.top-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 18rem;
}

.para-text p{
  color: #362d2d;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  line-height: 28px;
  margin-bottom: 30px;
}

.main-text h2{
  color: #191919;
font-size: 45px;
font-weight: 300;
font-style: italic;
text-transform: capitalize;
line-height: 75px;
margin-bottom: 30px;
}

.img-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
.image{
  overflow: hidden;
}
.image img{
  max-width: 100%;
  width: 450px;
  height: auto;
  transition: all .40s;
}

.image img:hover{
  transform: scale(1.1);
}
.tour-info img{
  width: 80px;
  height: auto;
  margin-bottom: 15px;
}

.tour-info p{
  font-size: #362d2d;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px 40px;
  font-style: italic;
  line-height: 26px;
}

.main-dast{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  align-items: center;
  gap: 2rem;
  background-color: #fff8f6;
  padding: 20px 20px;
  border-radius: 50px;
}
.dast-img img{
  max-width: 100%;
  width: 130px;
  height: auto;
  padding-left: 45px;
  transition: all .40s;
}
.dast-img img:hover{
  transform: scale(1.1);
}

.trip-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  margin-bottom: 40px;
}

.trip-tx1 h2{
  color: #191919;
  font-size: 50px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 75px;
  font-style: italic;
}

.trip-tx2 p{
  color: #362d2d;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  font-style: italic;
}

.trip-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.trip-img img{
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: all .40s;
}
.trip-img img:hover{
  transform: scale(1.1);
}


.center-text{
  text-align: center;
}

.center-text h2{
  color: #191919;
  font-size: 50px;
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
  line-height: 75px;
  margin-bottom: 40px;
}

.main-cus{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 4rem;
  
}
.cus-det{
  background-color: #fff8f6;
  padding: 30px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.img-name{
  display: flex;
  align-items: center;
}

.img-name img{
  width: 50px;
  height: auto;
  margin-right: 15px;
}


.name h5{
  color: #515c6b;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
}
.name h6{
  color: #515c6b;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  
}

.cus-det p{
  color: #515c6b;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  line-height: 30px;
  margin-top: 20px;
}

.main-news{
  background-color: rgba(161, 181, 161, 0.5);
  text-align: center;
  padding: 70px 0;
}

.news-text h2{
  color: #191919;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

.input-side input{
  border: none;
  background-color: #fff;
  color: #191919;
  width: 280px;
  height: 50px;
  padding: 10px 10px;
  margin-right: 15px;
border-radius: 5px;
}
.input-side ::placeholder{
  text-transform: capitalize;
  font-style: italic;
  font-size: 16px;
}
.input-side button{
  border: none;
  background-color: #F9531D;
  color: #fff;
  padding: 13px 40px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all .40s;
}

.input-side button:hover{
  box-shadow: 0 0 20px #F9531D;
}

.contact{
  background-color: #505850;
}
.details{
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  align-items: center;
  gap: 3rem;
}
  
.dest1 img{
  width: 110px;
  height: auto;
  margin-bottom: 15px;
}
.details h4{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .40s;
}
.details h4:hover{
  color: #F9531D;
  text-decoration: underline;
  transform: translateX(5px);
}

.details p{
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  transition: all .40s;
}
.details p:hover{
  color: #F9531D;
  transform: translateX(5px);
}
.social{
  display: flex;
  align-items: center;
}
.social i{
  color: #fff;
  font-size: 25px;
  margin: 15px 15px 0 0;
  transition: all .40s;
}

.social i:hover{
  color: #F9531D;
  transform: translatey(-5px);
}

.end{
  background-color: #505850;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
.end-text p{
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all .40s;
}
.end-text p:hover{
  color: #F9531D;
}

.arrow i{
  color: #fff;
  font-size: 20px;
  background-color: #F9531D;
  padding: 10px;
  border-radius: 5px;
}

@media(max-width:1325px){
  header{
    padding: 30px 3%;
    transition: all .3s;
  }
  section{
    padding: 30px 3% ;
    transition: all .3s;
  }
}

@media(max-width:1135px){
  .home-text h1{
font-size: 45px;
transition: all .3s;
line-height: 70px;
  }
  .home-text p{
    font-size: 14px;
    transition: all .3s;
  }
}

@media(max-width:420px){
  .home-text h1{
    font-size: 35px;
    transition: all .3s;
    line-height: 50px;
      }
}

@media(max-width:1000px){
  .home{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    text-align: center;
    padding-top: 100px;
  }
  .button{
    display: block;
    display: flex;
    justify-content: center;
    text-align: center;
  }
.top-text{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
}
.img-text{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}


.trip-text{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  gap: 1rem;
}
}

@media(max-width:1255px){
  .main-text h2{
    font-size: 40px;
    line-height: 50px;
    transition: all .3s;
  }
  .para-text p{
    font-size: 16px;
    transition: all .3s;
  }
  .trip-tx1 h2{
    font-size: 40px;
    line-height: 55px;
    transition: all .3s;
  }
  .trip-tx2 p{
    line-height: 30px;
  }
  .center-text h2{
    font-size: 40px;
    line-height: 50px;
    transition: all .3s;
  }
  .news-text h2{
    font-size: 40px;
    line-height: 50px;
  }

}

@media(max-width:882px){
  input{
    margin-bottom: 15px;
  }
  
}

@media(max-width:900px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    width: 100%;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #e9ebee;
  
    transition: all .42s;
  }
  .navlist a{
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 2px solid #F9531D;
  }
  .open{
    top: 100%;
  }
}



















